/* * { outline: 1px solid red; outline-offset: -1px; } */
h1{
    position: relative;
    left: -1rem;
}
.timeline h2{
    margin: var(--space-2) 0 var(--space-2);
    position: relative;
    left: -1rem;
}


.timeline h2:before {
    content: "•";
    font-size: 6rem;
    vertical-align:-1rem;
    line-height: 0;
    position:relative;
    right: 16px;
  
    /* margin: var(--space-2) 0 var(--space-2); */
    /* color: var(--color-accent-blue); */
} 

.timeline > p {
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin-top: -1rem;
}

.timeline {
    border-left: 4px solid var(--color-accent-blue);
    padding-left: 1rem;
}
